
<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div *ngFor="let alert of alerts">
                <ngb-alert [type]="alert.type"  [dismissible]="false" >
                    <div class="container">
                        <div class="alert-wrapper">
                            <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                            <span aria-hidden="true">
                                <i class="now-ui-icons ui-1_simple-remove"></i>
                            </span>
                            </button>
                            <div class="message">
                                <ng-container *ngIf="alert.icon">
                                <div class="alert-icon">
                                    <i class="now-ui-icons {{alert.icon}}"></i>
                                </div>
                                </ng-container>
                                <strong>{{alert.strong}} </strong>{{ alert.message }}
                            </div>
                        </div>
                    </div>
                </ngb-alert>
            </div>
            <div class="card card-login card-plain">
                <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="content" style="font-size: large;">

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                        <input type="text" placeholder="First Name..." formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                            <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        </div>
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                        <input type="text" placeholder="Last Name..."formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        </div>
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                        <input type="text" placeholder="User Name..." formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                        <input type="password" placeholder="Password..." formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Register
                        </button>
                        <a [routerLink]="['/login']" class="btn btn-simple btn-round btn-white btn-lg" class="btn btn-link">Cancel</a>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>































































<!-- 


<div class="page-header" filter-color="orange">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <div class="content">
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                        </div>
                          <input type="text" class="form-control" placeholder="First Name..." (focus)="focus=true" (blur)="focus=false" >
                      </div>
                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input type="text" placeholder="Last Name..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                    </div>
                    <div class="footer text-center">
                        <a href="#pablo" class="btn btn-primary btn-round btn-lg btn-block">Get Started</a>
                    </div>
                    <div class="pull-left">
                        <h6>
                            <a href="#pablo" class="link">Create Account</a>
                        </h6>
                    </div>
                    <div class="pull-right">
                        <h6>
                            <a href="#pablo" class="link">Need Help?</a>
                        </h6>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="https://www.creative-tim.com">
                            Creative Tim
                        </a>
                    </li>
                    <li>
                        <a href="https://www.creative-tim.com/about-us">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="http://blog.creative-tim.com">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                            MIT License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </div>
        </div>
    </footer>
</div> -->
